<!DOCTYPE html>
<html>
<head>
  <title>Teste</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default">
		
		<div class="container">
			
			<div class="navbar-header">
				<%= link_to "Nome", root_path, class: "navbar-brand" %> 
			</div>

			<ul class="nav navbar-nav">		

					<% if user_signed_in? %>
						<li>
							
							<%= link_to "Sair", destroy_user_session_path, method: :delete %>

						</li>

					<% else %>

						<li>
							<%= link_to "Entrar", new_user_session_path 
							%>
						</li>
						<li>
							<%= link_to "Registar", new_user_registration_path 
							%>
						</li>

					<% end %>
									
			</ul>	


		</div>

	</nav>

	<div class="container">
 		
 	<% flash.each do |key,value| %>
 		
	    <%= content_tag :div, value , class: "alert alert-#{key}" %>

	<% end %> 

	  <%= yield %>


 	 </div>

</body>
</html>
